button{
    margin-bottom: 10px;
    margin-left: 5px;
}

.notification {
    color: rgb(79, 139, 67);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
} 

.notification.error {
    color: rgb(202, 34, 34);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
} 

.logOut-btn {
    display:inline-block;
    margin-bottom: 20px;
}

.logged-user {
    display: inline;
    margin-bottom: 20px;
}